@import './styles/root.css';
@import './styles/scroll.css';
@import './styles/nav.css';
@import './styles/lock.css';
@import './styles/mainPage.css';
@import './styles/portfolioPage.css';
@import './styles/faqPage.css';

/* @media screen and (max-width: 800px) {
  .lock {
    position: fixed;
    font-size: 40vw;
    transform: none;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .lock:hover {
    transform: translateX(-50%);
  }

  .mainblock {
    top: 35%;
    width: 80%;
    left: 2%;
  }

  .navbar {
    top: 60%;
    z-index: 4;
  }

  .cat {
    font-size: 30px;
  }

  .cat:hover {
    text-shadow: var(--shadowTextActive);
  }

  .active-cat {
    text-shadow: var(--shadowTextActive);
  }
}

@media screen and (max-width: 620px) {
  .mainblock {
    top: 200px;
  }

  .block > h1 {
    font-size: 40px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cat {
    margin-bottom: 7px;
  }

  .cat:hover {
    text-shadow: var(--shadowTextActive);
  }

  .active-cat {
    text-shadow: var(--shadowTextActive);
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 50%;
    margin-top: 20vh;
    transform: translateX(-50%);
    padding: 10px 1px;
    width: var(--element-height);
    height: var(--element-width);
  }

  .but-nav {
    margin: 0 3px 0 3px;
  }

  body,
  html,
  .wrapper {
    height: 100vh;
  }

  .mainblock {
    width: 96%;
    top: 20%;
  }

  .content1 {
    margin-top: 50px;
  }

  html,
  .wrapper,
  body {
    height: 250vh;
  }

  .block {
    top: 40px;
    width: 96%;
  }

  .navbarPort {
    margin-top: 0;
  }

  .content2 {
    width: 70%;
  }
} */
