.blockFAQ {
  position: absolute;
  top: 150px;
  margin: 0 10px;
  border-radius: 64px;
  box-shadow: var(--shadow);
  font-family: var(--ws);
}

.blockFAQ > .wrapperText {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.faq {
  text-align: center;
  font-size: var(--h1);
  text-shadow: var(--shadowText);
  transform: scale(0.95);
  color: rgba(255, 255, 255, 0.95);
}

.cards1 {
  margin-top: 100px;
  max-height: 660px;
  width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards1 > a {
  width: 280px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;

  color: black;
  height: 400px;
  border-radius: 64px;
  box-shadow: var(--shadowNavButton);
  transition: 0.4s;
  transform: scale(1);
}

.cards1 > a:hover {
  box-shadow: var(--shadowActiveButton);
  transform: scale(0.95);
  border: 1px solid rgba(226, 226, 226, 0.9);
}

.cards1 > a > img {
  width: 200px;
  border-radius: 10px;
  margin-top: 8px;
}

.cards1 > a > p {
  margin-top: 20px;
}
