.mainblock {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 55%;
  padding: 20px 0 20px 0;
  border-radius: 64px;
  box-shadow: var(--shadow);
  font-weight: 600;
}

.content1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 30px 40px;
  border-radius: 64px;
  box-shadow: var(--shadow);
}

.content1 > h1 {
  text-align: center;
  font-size: 3rem;
}

.content1 > p {
  text-align: center;
  font-size: 1.2rem;
}

.content2 {
  position: relative;
  text-align: center;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 15px 15px;
  border-radius: 64px;
  box-shadow: var(--shadow);
}

.content2 > a {
  color: rgb(209, 209, 209);
  margin: 0 5px;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.4s;
}

.content2 > a:hover {
  color: black;
}

.content3 {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 30px 50px;
  text-align: justify;
  border-radius: 64px;
  box-shadow: var(--shadow);
}

.content3 > h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.content4 {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 30px 50px;
  text-align: justify;
  border-radius: 64px;
  box-shadow: var(--shadow);
}

.content4 > h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.content4 > a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  margin: 0 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgb(50, 50, 50), -3px -3px 5px rgb(80, 80, 80);
  transition: 0.5s;
}

.content4 > a:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1),
    2px 2px 5px rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
}
