.wrapperBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperText {
  position: fixed;
  top: 140px;
  left: 50%;
  border-radius: 64px;
  padding: 5px 0;
  transform: translateX(-50%);
  box-shadow: var(--shadow);
}

.wrapperText > h1 {
  text-align: center;
  font-size: var(--h1);
  text-shadow: var(--shadowText);
  color: rgba(255, 255, 255, 0.95);
}

.categories {
  font-size: 2rem;
  width: 620px;
  text-align: center;
}

.cat {
  color: white;
  cursor: pointer;
  margin: 0 10px;
  text-shadow: var(--shadowText);
  transition: 0.5s;
}

.cat:hover {
  text-shadow: var(--shadowTextActive);
  transform: scale(0.95);
  color: rgba(161, 161, 161, 0.9);
}

.active-cat {
  text-shadow: var(--shadowTextActive);
  transform: scale(0.95);
  color: rgba(161, 161, 161, 0.9);
}

.block {
  position: absolute;
  top: 300px;
  margin: 0 10px;
  border-radius: 64px;
  box-shadow: var(--shadow);
}

.cards {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cards > a {
  width: 280px;
  margin: 5px 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 300px;
  border-radius: 64px;
  box-shadow: var(--shadowNavButton);
  transition: 0.4s;
  transform: scale(1);
}

.cards > a:hover {
  box-shadow: var(--shadowActiveButton);
  transform: scale(0.95);
  border: 1px solid rgba(226, 226, 226, 0.9);
}

.cards > a > img {
  width: 200px;
  border-radius: 50%;
  margin-top: 5px;
}

.cards > a > h2 {
  margin-top: 15px;
}
